header {
  width: 100%;
  height: 60px; 
  background-color: white; 
  border-bottom: solid #cccccc 1px; 
  position: relative; top: 0; 
  left: 0;
  right: 0; 
}

.navigation {
    width: 960px; 
    background-color: white;
     
}

.name {
    font-size: 150%;
    text-align: center;
    float: left; 
    height: 60px; 
    background-color: #4aaaa5;
    display: flex;
    align-items: center;
    padding-left: 15px; 
    padding-right: 15px; 
  
  }
  /* Navigation */
  nav {
    width: 960px; 
  }

  .nav-list {
      padding-top: 20px; 
      float: right; 
      color: #777777;
      margin-left:200px; 

  }


    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
      li {
        display:inline;
          }

          a.navOptions:link 
          { 
          text-decoration:none; 
          color:#777777;
          font-size: 1.0em; 
          padding-right: 30px;
      

          } 

          a.navOptions:visited {
            text-decoration:none; 
            color:#777777;
            font-size: 1.0em; 
            padding-right: 30px;
          }

          a.navOptions:hover {
            color: #4aaaa5;
          }



          
          a.namelink:link 
          { 
              text-decoration:none; 
              color:white; 
          }

          a.namelink:visited {
            color: white; 
          }

          a.namelink:hover {
            color: #777777;
          }
          

body {
    width: 960px; 
    margin: 0 auto;
    background-image: url("../images/tiny-squares.png");
 
}


.aboutMe {
    width: 960px; 
    height: 400px; 
    margin-top: 100px; 
    background-color: white; 
    text-align: left;
    border: solid #cccccc .5px; 
}

.borderLine{
  width: 930px; 
  border-bottom: solid #cccccc 2.0px; 
  z-index: 5;
  margin-left: 15px; 
}



p {
    margin-left: 15px; 
    text-align: left;
    line-height: 1.5;
    color: #777777;
}    
 
h2{
    padding-top: 10px;  
    color: #4aaaa5;
    margin-bottom: 5px; 

}


img {
    padding-top: 15px;
    padding-left: 15px; 
    padding-right:15px; 
    float: left; 
}

footer {
    background-color: #666666;
    left: 0;
    bottom: 0;
    width: 100%;
    position:fixed;
    font-size: 10px; 
    border-top: solid #4aaaa5 10px;
    }

 p.footer {
          text-align:center;
          color: #aaa;

 }

 .portfolio {
  width: 960px; 
  margin-top: 30px; 
  text-align: left;
  padding-bottom: 10px; 

}

h2 {
  color: #4aaaa5;
  margin-left: 15px; 
  margin-top: 50px; 
}

.outerBox {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  background-color: white; 
  margin-bottom: 30px;
  padding-top: 30px;
 
  
}

.item1 {
  width: 300px;
  height: 200px;
  padding-top: 10px;
  text-align: center;
  border: 3px solid #aaa;
  margin: 20px;
  background-image:url("../images/ipad.jpg");
  background-size: auto;
  background-repeat: no-repeat;


}

.item2 {
  width: 300px;
  height: 200px;
  padding-top: 10px;
  text-align: center;
  border: 3px solid #aaa;
  margin: 20px;
  background:url("../images/roleplaying.png");
  background-size: auto;
  background-repeat: no-repeat;
 

}

.item3 {
  width: 300px;
  height: 200px;
  padding-top: 10px;
  text-align: center;
  border: 3px solid #aaa;
  margin: 20px;
  background-image:url('../images/triviagame.png');
  background-size: auto;
  background-repeat: no-repeat;

}

.item4 {
  width: 300px;
  height: 200px;
  padding-top: 10px;
  text-align: center;
  background: #eee;
  border: 3px solid #aaa;
  margin: 20px;
  background-image:url('../images/widget.jpg');
  background-size: auto;
  background-repeat: no-repeat;

}

.item5 {
  width: 300px;
  height: 200px;
  padding-top: 10px;
  text-align: center;
  background: #eee;
  border: 3px solid #aaa;
  margin: 20px;
  background-image:url('../images/rps.jpg.jpeg');
  
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}