.header {
  width: 100%;
  height: 60px; 
  background-color: white; 
  border-bottom: solid #cccccc 1px; 
  position: fixed; 
  float: left;
  top: 0px;
  left: 0px;
  z-index: 2;
  display: block; 
}

.navContainer {

  margin: 0 auto; 
  width: 960px; 
  display: block; 

}

.name {
    font-size: 150%;
    text-align: center;
    float: left; 
    height: 60px; 
    background-color: #4aaaa5;
    display: block;
    align-items: center;
    padding-left: 15px; 
    padding-right: 15px; 
  }



  /* Navigation */

  .nav-list {
      padding-top: 20px; 
      color: #777777;
      float: right; 

  }


    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  
      li {
        display:inline;
          }

          a.navOptions:link 
          { 
          text-decoration:none; 
          color:#777777;
          font-size: 1.0em; 
          padding-right: 30px;
      

          } 

          a.navOptions:visited {
            text-decoration:none; 
            color:#777777;
            font-size: 1.0em; 
            padding-right: 30px;
          }

          a.navOptions:hover {
            color: #4aaaa5;
          }



          .namelink{
            display: block; 
            font-weight: bold; 
            margin-block-start: .70em; 
      
          }
          
          a.namelink:link 
          { 
              text-decoration:none; 
              color:white; 
          }

          a.namelink:visited {
            color: white; 
          }

          a.namelink:hover {
            color: #777777;
          }
          

body {
    width: 960px; 
    margin: auto;
    padding: 0; 
    background-image: url("../images/tiny-squares.png");
  
 
}


.content {
    width: 960px; 
    height: 400px; 
    margin: auto; 
    background-color: white; 
    text-align: left;
    border: solid #cccccc .5px; 
    margin-top: 90px; 
}

.borderLine{
  width: 930px; 
  border-bottom: solid #cccccc 2.0px; 
  z-index: 5;
  margin-left: 15px; 
}



p {
    margin-left: 15px; 
    text-align: left;
    line-height: 1.5;
    color: #777777;
}    


img {
    padding-top: 15px;
    padding-left: 15px; 
    padding-right:15px; 
    float: left; 
}

footer {
    background-color: #666666;
    left: 0;
    bottom: 0;
    width: 100%;
    position:fixed;
    font-size: 10px; 
    border-top: solid #4aaaa5 10px;
    }

 p.footer {
          text-align:center;
          color: #aaa;

 }

 .portfolio {
  width: 960px; 
  margin-top: 30px; 
  text-align: left;
  padding-bottom: 10px; 

}

h2 {
  color: #4aaaa5;
  margin-left: 15px; 
  margin-block-start: 0.70em;
  margin-block-end: 0.70em;

}

.box{
  height: 600px; 
  margin: auto; 
  width: 960px; 
  margin-top: 100px; 
  flex-wrap: wrap; 
  flex-direction: column; 
  background-color: white; 
  display: flex; 
}


.item1 {
  width: 200px; 
  height: 150px; 
  background-color: white; 
  border: 1px solid #aaa;
  margin: 10px; 
  background-image:url("../images/ipad.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  text-align: center;


}

.item2 {
  width: 200px; 
  height: 150px; 
  background-color: white; 
  border: 1px solid #aaa;
  margin: 10px; 
  background:url("../images/roleplaying.png");
  background-size: auto;
  background-repeat: no-repeat;
  text-align: center;


}

.item3 {
  width: 200px; 
  height: 150px; 
  background-color: white; 
  border: 1px solid #aaa;
  margin: 10px; 
  background-image:url('../images/triviagame.png');
  background-size: auto;
  background-repeat: no-repeat;
  text-align: center;

}

.item4 {
  width: 200px; 
  height: 150px; 
  background-color: white; 
  border: 1px solid #aaa;
  margin: 10px; 
  background-image:url('../images/widget.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  margin-top: 71px; 
  text-align: center;

}

.item5 {
  width: 200px; 
  height: 150px; 
  background-color: white; 
  border: 1px solid #aaa;
  margin: 10px; 
  margin-right: 500px; 
  background-image:url('../images/rps.jpg.jpeg');
  text-align: center;
  
}



/* Style box inputs that have type="text" (Email and Name)*/
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

/* Style the submit button */
input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker gray color */
input[type=submit]:hover {
  background-color: #666666;
}

/* Add a background color and some padding around the form container */

.container{
  width: 960px; 
  margin: auto; 
  height: 460px; 
  background-color: white; 
  padding-top: 50px; 
  border: solid #cccccc .5px; 
  border-radius: 5px;
  margin-top: 90px; 

}

.PortfolioTitle{
  color: #4aaaa5;
  margin-left: 15px; 
}

h3{
  bottom: 10px;
  background-color: #4aaaa5;
  width: 100%;
  height: 15%;
  text-align: center;
  margin-top: 125px; 
  color: white; 
 
}